<launch>

  <!-- GDB Debug Option -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb -x $(find arm_bringup)/launch/gdb_settings.gdb --ex run --args" />


  <!-- URDF -->
  <param name="robot_description" textfile="$/home/fetch/indigo/src/sandbox/fetch_gazebo_1961//robots/stand_alone_arm.urdf" />

  <!-- Drivers for Base -->
  <node name="robot_driver" launch-prefix="$(arg launch_prefix)" pkg="fetch_drivers" type="robot_driver" output="screen">
    <param name="firmware_tar_gz" value="$(find fetch_drivers)/firmware.tar.gz" />
    <param name="has_base" value="false" />
    <param name="has_torso" value="false" />
    <param name="has_head" value="false" />
    <param name="has_arm" value="true" />
  </node>


  <!-- Controllers -->
  <rosparam file="$(find arm_bringup)/config/default_controllers.yaml" command="load" />

  <!-- Joint State -> TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


</launch>
